@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato;
    font-weight: 400px;
    color: #1d2c2a;
}

/* header */

h1 {
    font-family: Trirong, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0;
    color: #ed1c24;
}

h2 {
    font-family: Lato, sans-serif;
    font-weight: 600px;
    letter-spacing: 3px;
    color: #ed1c24;
}

nav {
    font-family: Lato, sans-serif;
    color: #ed1c24;
}

#logo {
    float: left;
    font-size: 40px;
    margin-left: 20px;
}

#menu, #logo {
    line-height: 60px;
}

#menu li{
    float: right;
    font-size: 20px;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color:#ed1c24
}

#menu a:hover {
    border-bottom: 1px solid #989dca;
}

#menu a:active {
    border-bottom: 1px solid #207182;
}

#introduction {
    clear: both;
}

#left-panel {
    clear: both;
    width: 33%;
    padding: 10px;
    margin: auto;
    text-align: left;
}

#right-panel {
    clear: both;
    width: 33%;
    padding: 10px;
    margin: auto;
    text-align: left;
}

#center-panel {
    clear: both;
    width: 33%;
    padding: 10px;
    margin: auto;
    text-align: left;
}


/*footer*/
footer {
    height: fit-content;
    background-color: #207182;
    color: #f5f5f5;
}

#disclaimer {
    font-family: Lato, sans-serif;
    font-size: 15px;
    width: 33%;
    text-align: justify;
    margin-bottom: auto;
    padding: 15px;
}