@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Lora:ital,wght@1,500&family=Taviraj:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Heebo;
    font-weight: 600px;
    color: #1d2c2a;
}

/* header */

h1 {
    font-family: Taviraj;
    text-transform: none;
    letter-spacing: 0;
    color: #ed1c24;
}

h2 {
    font-family: Lora, Heebo, sans-serif;
    font-weight: 600px;
    letter-spacing: 3px;
    color: #ed1c24;
}

nav {
    font-family: Lora, sans-serif;
    color: #ed1c24;
}

#logo {
    float: left;
    font-size: 40px;
    margin-left: 20px;
}

#menu, #logo {
    line-height: 60px;
}

#menu li{
    float: right;
    font-size: 20px;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color:#ed1c24
}

#menu a:hover {
    border-bottom: 1px solid #989dca;
}

#menu a:active {
    border-bottom: 1px solid #207182;
}

#left-panel {

}

#right-panel {

}

#center-panel {

}


/*footer*/
footer {
    height: fit-content;
    background-color: #207182;
    color: #f5f5f5;
}