@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Kavoon&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: ABeeZee, sans-serif;
    font-weight: 400;
    color: #1d2c2a;
    background-color: #f5f5f5;  /*colour changed to help visual checks, to be returned once completed*/
}

/* heading */

h1 {
    font-family: Kavoon, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #ed1c24;
}

h2 {
    font-family: Kavoon, sans-serif;
    letter-spacing: 2.5px;
    line-height: 1.6rem;
    font-weight: lighter;
    color: #ed1c24;
    font-size: 22px;
}

/*navigation bar*/
nav {
    font-family: ABeeZee, sans-serif;
    color: #ed1c24;
}

#logo {
    float: left;
    font-size: 40px;
    margin-left: 4rem;
}

.active {
    border-bottom: 2px solid #ed1c24;
}

em {
    color: #207182;
    font-weight: 600;
}

#menu, #logo {
    line-height: 60px;
}

#menu {
    margin-right: 3rem;
}

#menu li{
    float: right;
    font-size: 20px;
    list-style-type: none;
    margin-right: 1rem;
}

#menu a {
    text-decoration: none;
    color:#ed1c24
}

#menu a:hover {
    border-bottom: 1px solid #989dca;
}

#menu a:active {
    border-bottom: 2px solid #207182;
}

/*Main Area*/

.section-name {
    clear: both;
    text-align: left;
    padding-top: 1rem;
    padding-left: 2rem; 
}

.tysection-name {
    clear:both;
    text-align: center;
    padding-top: 4rem;
    font-size: larger;
}
.section-container {
    clear: both;
    display: flex;
    flex-direction: row;
    margin: 2rem;
    margin-bottom: 2rem;
}

.hero {
    float: left;
/*    margin-left: 4.5rem;*/    
}

.credit {
    text-align:inherit;
    font-size: 14px;
}

#introduction {
    clear: both;
    padding: 1rem;
    float: right;
    margin-right: 2.5rem;
    font-size: 18px;
}

#introduction ul {
    display:flex;
    justify-content: space-around;

}
 
#introduction li {
    clear: both;
    list-style-type: none;
    font-size: x-large;
    font-family: ABeeZee, sans-serif;
    font-weight: 600;
    padding-inline: 2rem;    
}

#introduction  a {
    text-decoration: none;
    color:#ed1c24
}

#introduction a:hover {
   color: #989dca;
}

#introduction a:active {
    color: #207182;
}

#warning {
    color: #207182;
    font-weight: bolder;
}

#container {
    clear: both;
    display: flex;
    flex-direction: row;   
    margin-bottom: 2rem;
   /* padding-left: 4.5rem;*/
    margin: 2rem;
}

#container h2{
    padding-top: 1rem;
}

/* Floating column for left column: */
  .left-panel-heading, .right-panel-heading {
    clear: both;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin: 2rem;
  }

  /* Floating column for : 60% width */
  .center-panel-heading {
        clear: both;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2rem;
        margin: 2rem;
    }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /*
.left-panel, .right-panel {
    margin-top: 6px;
    padding-top: 1rem; 
  }

.left-panel {
    padding-right: 4.5rem;
}

.right-panel {
    padding-right: 8.5rem;
}

.center-panel {
    margin-top: 6px;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 4.5rem
  }
*/

.image-size {
    height: 230px;
    width: 345px;
    padding: 0;
}

img {
    width: inherit; 
    padding: 0; 
}

/*sourced from W3 tutorial on responsive forms*/
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
 
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 0;
    display: inline-block;
  }

  .col-25 label {
    padding: 12px 12px;
    display:inline-block
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #207182;
    color: #f5f5f5;
    padding: 12px 20px;
    max-width: max-content;
    max-height: max-content;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  input[type=submit]:hover {
    background-color: #f5f5f5;
    color: #ed1c24;
    padding: 12px 20px;
    border: #ed1c24;
    border-style: ridge;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }  

  input[type=submit]:active {
    background-color: #ed1c24;
    color: #f5f5f5;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Floating column for labels: 15% width */
  .col-25 {
    float: left;
    text-align: end;
    width: 15%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 85% width */
  .col-75 {
    float: left;
    width: 100%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.submit-button {
    display: inline-block;
    margin-right: 18px;
    text-align: center;
    width: 100%;
}

  button[type=button] {
    background-color: #207182;
    color: #f5f5f5;
    padding: 12px 20px;
    max-width: max-content;
    max-height: max-content;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /*float: right;*/
  }

  button[type=button]:hover {
    background-color: #f5f5f5;
    color: #ed1c24;
    padding: 12px 20px;
    border: #ed1c24;
    border-style: ridge;
    border-radius: 4px;
    cursor: pointer;
/*    float: right;*/
  }  

  button[type=button]:active {
    background-color: #ed1c24;
    color: #f5f5f5;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
/*    float: right;*/
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

/*footer*/
footer {
    position: relative;
    height: 150px;
    background-color: #207182;
    color: #f5f5f5;
    width: 100%;
    bottom: 0px; 
    left: 0px; 
    right: 0px; 
    margin-bottom: 0px;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.push {
  height: 50px;
}

#social-created {
    display: block;
    flex: content;
    flex-direction: column;
}

#disclaimer {
    font-family: ABeeZee, Lora, sans-serif;
    font-size: 15px;
    float: left;
    width: 33%;
    text-align: justify;
    margin-left: 5%;
    margin-bottom: auto;
    padding: 15px;
}
    
.social-networks{
    width: 33%;
    text-align: left;
    float: right;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: #f5f5f5;
}

.updated {
    font-size: 125%;
    margin: 1%;
    padding: 5%;
    color: #f5f5f5;
    text-align: match-parent;
}

/* Media queries */

/* For large to medium screen sizes from 1366px wide and down */
@media screen and (max-width:1366px){
    
    #menu {
        clear: both;
        display: inline-flex;
        width: 100%;
        justify-content: center;
    }

    #logo {
        float: none;
        font-size: 60px;
        line-height: 80px;
        text-align: center;
        margin: 2vw;
        padding-bottom: 1vh;
    }
     
    #nav-bar {   
        display: inline-flex;
        flex-direction: row-reverse;
    } 

    #menu li {
        padding: 0, 1rem;
    }

    .section-name {
        clear: both;
        text-align: center;
        padding-top: 1rem;
        padding-left:0;
    }
    
    .section-container {
        clear: both;
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;
    }

    #introduction {
        clear: both;
        display: flex;
        flex-wrap: wrap;
        font-size: 1.2rem;
        margin: 0 2%;
        text-align: left;
        }
    
    #container {
        clear: both;
        display: flex;
        flex-direction: row; 
        margin-bottom: 2rem;
   /* padding-left: 4.5rem;*/
        margin: 2rem;
    }

    .col-25 {
        width: 100%;
        margin-top: 0;
        text-align: start;
    } 
    
    .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }

   
    #introduction ul {
        display:flex;
        flex-wrap: wrap;
        padding-top: 1rem;
    }
 
    #introduction li {
        clear: both;
        list-style-type: none;
        font-family: ABeeZee, sans-serif;
        font-weight: 600;
        padding-inline: 1rem;    
    }
}


/* For medium to smaller screens size from 800px wide and down */
@media screen and (max-width: 800px) {

    #menu {
        clear: both;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    #logo {
        float: none;
        font-size: 60px;
        line-height: 80px;
        text-align: center;
        margin: 2vw;
        padding-bottom: 1vh;
    }
     
    #nav-bar {   
        display: flex;
        flex-direction: row-reverse;
    } 

    #menu i {
        font-size: x-large;
        letter-spacing: 2rem;
        text-indent: 2rem;
    }

    span .icon {
        font-size: large;
    }
    
    .text {
        display:none;
    }

    .section-name {
        clear: both;
        text-align: center;
        padding-top: 1rem;
        padding-left:0;
    }
   
    .section-container {
        clear: both;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 2rem;
        
    }

    .image-size {
        height: auto;
        padding: 0;
        display: contents;
    }

    #introduction {
        clear: both;
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        margin: 0, 4%;
        padding-top: 2rem;
        font-size: 18px;
        text-align: center;
    }

    #introduction ul {
        display:flex;
        flex-wrap: wrap;
        padding-top: 1rem;
    }
 
    #introduction li {
        clear: both;
        list-style-type: none;
        font-family: ABeeZee, sans-serif;
        font-weight: 600;
        padding-inline: 1rem;    
    }
    
    #container {
        clear: both;
        display: flex;
        flex-direction: column;   
        margin-bottom: 2rem;
   /* padding-left: 4.5rem;*/
        margin: 2rem;
    }
    
    .col-25 {
        width: 100%;
        margin-top: 0;
        text-align: start;
    } 
    
    .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }

    .form {
        clear: both;
        width:  100%;
    }

    /* FOOTER */

    footer {
        display: flex;
        flex-wrap: wrap;
        height: max-content;
        margin-bottom: 0px;
        padding-top: 1rem;
        padding-bottom: 2rem;
        justify-content: center;
    }
    
    .push {
      height: 50px;
    }
    
    #disclaimer {
        font-family: ABeeZee, sans-serif;
        font-size: 15px;
        float: left;
        width: 33%;
        text-align: justify;
        margin-left: 5%;
        margin-bottom: auto;
        padding: 15px;
    }
        
    .social-networks{
        width: 80%;
        text-align: center;
    }
    
    .social-networks > li {
        display: inline;
    }
    
    .social-networks i {
        font-size: 150%;
        margin: 1%;
        padding: 5%;
        color: #f5f5f5;
    }
    
    .updated {
        font-size: 125%;
        margin: 1%;
        padding: 5%;
        color: #f5f5f5;
        text-align: match-parent;
    }
}

/* Responsive layout - when the screen is less than 450px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 450px) {

    #menu {
        clear: both;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    #logo {
        float: none;
        font-size: 2.5rem;
        line-height: 4rem;
        text-align: center;
        margin: 2vw;
        padding-bottom: 1vh;
    }
     
    #nav-bar {   
        display: flex;
        flex-direction: row-reverse;
    } 

    #menu i {
        font-size: x-large;
        letter-spacing: 1rem;
        text-indent: 1rem;
    }

    span .icon {
        font-size: large;
    }
    
    .text {
        display:none;
    }

    /*Body of content*/
    
    /*.hero  {
        width: 106vw;

    }*/

    img {
        padding: 0px;
    
    }

    #introduction {
        clear: both;
        display: flex;
        flex-wrap: wrap;
        width: 85vw;
        margin: 0% 36%;
        font-size: 18px;
        text-align: center;
        padding-top: 2rem;
    }
    
    #introduction ul {
        display:flex;
        flex-wrap: wrap;
        padding-top: 1rem;
    }
 
    #introduction li {
        clear: both;
        list-style-type: none;
        font-family: ABeeZee, sans-serif;
        font-weight: 600;
        padding-inline: 1rem;    
    }
    
    .section-name {
        clear: both;
        text-align: center;
        padding-top: 1rem;
        padding-left:0;
    }    

    .tysection-name {
        clear: both;
        text-align: center;
        padding-top: 2rem;
        margin: 0 2%;
    }
    .section-container {
        clear: both;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
    }    
    
    #container {
        clear: both;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
    }    

    .col-25 {
        width: 100%;
        margin-top: 0;
        text-align: start;
    } 
    
    .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }

    /*FOOTER*/
    footer {
        display: flex;
        flex-wrap: wrap;
        height: max-content;
        margin-bottom: 0px;
        padding-top: 1rem;
        padding-bottom: 2rem;
        justify-content: center;
    }
    
    .push {
      height: 50px;
    }
    
    .social-networks {
        clear: both;
        display: inline-block;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #disclaimer {
        font-family: ABeeZee, Lora, sans-serif;
        font-size: 15px;
        text-align: justify;
        width: 70%;
        margin-left: 2%;
    }
        
    .social-networks{
        width: 100%;
        text-align: center;
    }
    
    .social-networks > li {
        display: inline;
    }
    
    .social-networks i {
        font-size: 150%;
        margin: 1%;
        padding: 5%;
        color: #f5f5f5;
    }
    
    .updated {
        font-size: 125%;
        margin: 1%;
        padding: 5%;
        color: #f5f5f5;
        text-align: center;
    }
}